<div class="container">
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="filterForm" (ngSubmit)="onSearch()">
        <div class="form-group">
          <mat-form-field>
            <mat-select formControlName="workplaceId" placeholder="Lokasi Kerja">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let workplace of workplaces" [value]="workplace.id">{{ workplace.employeeName }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="pickerDateFrom" formControlName="dateFrom" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="pickerDateFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerDateFrom></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="pickerDateTo" formControlName="dateTo" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="pickerDateTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerDateTo></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="form-group">
          <mat-form-field>
            <input type="text" placeholder="Pilih Karyawan" aria-label="Karyawan" matInput formControlName="employeeId"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.employeeName">
                {{option.employeeName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary" type="submit">Cari</button>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="mat-elevation-z3">
  <table mat-table [dataSource]="absenceList" class="full-width">
    <!-- employeeId Column -->
    <ng-container matColumnDef="employeeId">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
    </ng-container>

    <!-- employeeName Column -->
    <ng-container matColumnDef="employeeName">
      <th mat-header-cell *matHeaderCellDef> Karyawan </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
    </ng-container>

    <!-- jlmHadir Column -->
    <ng-container matColumnDef="jlmHadir">
      <th mat-header-cell *matHeaderCellDef> Hadir </th>
      <td mat-cell *matCellDef="let element"> {{element.jlmHadir}} </td>
    </ng-container>

    <!-- jmlCuti Column -->
    <ng-container matColumnDef="jmlCuti">
      <th mat-header-cell *matHeaderCellDef> Cuti </th>
      <td mat-cell *matCellDef="let element"> {{element.jmlCuti}} </td>
    </ng-container>

    <!-- jmlLembur Column -->
    <ng-container matColumnDef="jmlLembur">
      <th mat-header-cell *matHeaderCellDef> Lembur </th>
      <td mat-cell *matCellDef="let element"> {{element.jmlLembur}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
