<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <div class="gaji-logo">
      <a routerLink="/">
        <img mat-card-md-image src="http://placehold.it/100?text=Gaji ID">
      </a>
      <h2 class="mat-h2">Gaji ID</h2>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/first-page"><mat-icon>home</mat-icon> Halaman Satu</a>
      <a mat-list-item routerLink="/second-page"><mat-icon>list</mat-icon> Halaman Dua</a>
      <a mat-list-item routerLink="/third-page"><mat-icon>person</mat-icon> Halaman Tiga</a>
      <a mat-list-item routerLink="/work-calendar"><mat-icon>calendar_today</mat-icon> Kalender Kerja</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="gaji-content">
    <mat-toolbar class="gaji-header">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="navbar">
        <mat-form-field [style.width.px]="300">
          <input matInput placeholder="Search for Employee">
        </mat-form-field>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
