.sidenav-container {
  height: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.gaji-logo {
  padding: 10px;
  text-align: center;
}

.gaji-content {
  min-height: 100vh;
}

.gaji-header {
  background: #FFFAE6;
}
